* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-color: #93beff;
    padding: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    background-color: #fff;
    width: 540px;
    min-height: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 8px 10px 0 #002765,
        -4px 8px 10px 0 #002765;
}

h2 {
    color: #002765;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

h2 img {
    height: 40px;
    margin-right: 12px;
}

input[type=text] {
    font-size: medium;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 80%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}

button {
    padding: 8px 13px;
    margin-left: 7px;
    color: #fff;
    background-color: #002765;
    /* background-color:#000bff; */
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}